<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head %>
  </head>
<body>
    <header>
        <% include ./partials/_header %>
    </header>
    <div>
      <nav><a href="/" class = navbutton>New TinyURL</a></nav>
    </div>
    <!-- Write EJS code here to display shortened links -->
    <% for (key in urls) { %>
    <div class="wrapper">
      <a href="http://<%= hostName%>/u/<%= key %>">http://<%= hostName%>/u/<%= key %></a> ⇀
      <a href="<%= urls[key] %>"><%= urls[key] %></a>
      <a href="/urls/<%= key %>" class = button>Edit</a>
      <form method="POST" action="/urls/<%= key %>?_method=DELETE">
      <button type="submit">Delete</button>
      </form>
    </div>
    <% } %>
</body>
</html>